/* nunito-300 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/nunito-v16-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/nunito-v16-latin-300.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/nunito-v16-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/nunito-v16-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/nunito-v16-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/nunito-v16-latin-300.svg#Nunito")
      format("svg"); /* Legacy iOS */
}
/* nunito-regular - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/nunito-v16-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/nunito-v16-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/nunito-v16-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/nunito-v16-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/nunito-v16-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/nunito-v16-latin-regular.svg#Nunito") format("svg"); /* Legacy iOS */
}
/* nunito-600 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/nunito-v16-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/nunito-v16-latin-600.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/nunito-v16-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/nunito-v16-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/nunito-v16-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/nunito-v16-latin-600.svg#Nunito")
      format("svg"); /* Legacy iOS */
}
/* nunito-700 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/nunito-v16-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/nunito-v16-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/nunito-v16-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/nunito-v16-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/nunito-v16-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/nunito-v16-latin-700.svg#Nunito")
      format("svg"); /* Legacy iOS */
}
/* nunito-800 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/nunito-v16-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/nunito-v16-latin-800.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/nunito-v16-latin-800.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/nunito-v16-latin-800.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/nunito-v16-latin-800.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/nunito-v16-latin-800.svg#Nunito")
      format("svg"); /* Legacy iOS */
}

/* Below animations are fore modal created using React-Modal */
.ReactModal__Overlay {
  transition: transform 300ms ease-in-out;
  transition-delay: 100ms;
  transform: scale(0);
  /* transform: translateY(-150%); */
}

.ReactModal__Overlay--after-open {
  transform: scale(1);
  /* transform: translateY(0%); */
}

.ReactModal__Overlay--before-close {
  transform: scale(0);
  /* transform: translateY(-150%); */
}

#radio-button-group-component-1 {
  border: 2;
  line-height: 1rem;
  width: 600px;
}

.rainbow-radio-button-group_inner-container {
  position: relative;
  line-height: 1rem;
  width: auto;
}
